<div>
  <%= flash[:notice] %>
</div>
<div class="d-flex justify-content-center mb-2 offset-2">
  <%= render "public/searches/form" %>
  <!--カテゴリー機能検索-->
  <% if user_signed_in? %>
    <%= render 'public/tagsearches/tagsearch' %>
  <% end %>
</div>
<!--投稿を部分テンプレート化-->
<%= render 'public/post_images/index', post_images: @post_images %>
<%= paginate @post_images %>
<footer class="footer">
  <div class="bottom bg-light-green">
     <!--カラーを＃B6F1AAにした-->
    <div class="text-center mb-auto pb-3 pt-3">
      ©2024 sawada.和の旅行記.
    </div>
  </div>
</footer>