<div>
  <%= flash[:notice] %>
</div>
<div class="card-list-container py-5">
  <div class="card w-50 mx-auto mt-4 shadow-lg">
    <%= image_tag @post_image.get_image %>
    <div class="col-sm-12 col-md-8 col-lg-5 px-5 px-sm-0">
      <p>旅行先：<%= @post_image.event_name %></p>
      <p>宿泊日数：<%= @post_image.genre.name %></p>
      <p>説明：<%= @post_image.caption %></p>
      <p>投稿ユーザー画像：<%= image_tag @post_image.user.get_profile_image(100,100) %></p>
      <p>ユーザー名：<%= @post_image.user.name %></p>
      <p>投稿日：<%= @post_image.created_at.strftime('%Y/%m/%d') %></p>
      <% if @post_image.user == current_user %>
        <%= link_to "投稿編集", edit_post_image_path(@post_image), class: "btn btn-sm btn-success" %> |
        <% if user_signed_in? && @user == current_user %>
          <% unless @user.email == "test@example.com" then %>
            <%= link_to "投稿削除", post_image_path(@post_image), method: :delete, data: { confirm: '本当に削除しますか？' }, class: "btn btn-sm btn-danger" %>
          <% end %>
        <% end %>
      <% end %>

      <div><%= link_to "一覧ページに戻る", post_images_path, class: "btn btn-sm btn-info" %></div>

      <!--いいね機能-->
      <div id="favorite_btn_<%= @post_image.id %>">
        <%= render "public/favorites/btn", post_image: @post_image %>
      </div>
      <!--コメント機能-->
      <div id="comment_area">
        <%= render "public/post_comments/comment", post_image: @post_image %>
      </div>
      <div><%= render "public/post_comments/form", post_image: @post_image, post_image_comment: @post_image_comment %></div>
    </div>
  </div>
</div>