<!DOCTYPE html>
<html>
  <head>
    <!--favicon設定-->
    <link rel="icon" type="image/png" href="<%= asset_path("favicon.png") %>">
    <title>和の旅行記</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <script src="https://kit.fontawesome.com/13efc1d0bf.js" crossorigin="anonymous"></script>
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <!--フォント-->
    <link href="https://fonts.googleapis.com/css?family=Kaushan+Script" rel="stylesheet">
  </head>

  <header class="shadow-sm">
    <nav class="navbar navbar-expand-lg navbar-light bg-light-green">
      <div class="container">
        <a class="navbar-brand p-1" href="/"><%= image_tag 'logo.png', :size =>'150x70' %></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown"
                      aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
          <ul class="navbar-nav ml-auto ms-auto">
            <% if user_signed_in? %>
            <li class="nav-item">
              <%= link_to new_post_image_path, class: 'nav-link text-dark' do %>
                <i class="fa-solid fa-message"></i> 投稿フォーム
              <% end %>
            </li>
            <li class="nav-item">
              <%= link_to user_path(current_user.id),class: 'nav-link text-dark' do %>
                <i class="fa-solid fa-house-user"></i></i> マイページ
              <% end %>
            </li class="nav-item">
            <li class="nav-item">
              <%= link_to users_path ,class: 'nav-link text-dark' do %>
                <i class="fas fa-users"></i> ユーザー一覧
              <% end %>
            </li>
            <li class="nav-item">
              <%= link_to post_images_path ,class: 'nav-link text-dark' do %>
                <i class="fa-solid fa-camera-retro"></i> 投稿一覧
              <% end %>
            </li>
            <li class="nav-item">
              <%= link_to destroy_user_session_path, method: :delete,class: 'nav-link text-dark' do %>
                <i class="fas fa-sign-out-alt"></i> ログアウト
              <% end %>
            </li>
            <% elsif admin_signed_in? %>
            <li class="nav-item">
              <%= link_to "ユーザー一覧", admin_users_path, class: 'nav-link text-dark' %>
            </li>
            <li class="nav-item">
              <%= link_to "ジャンル一覧", admin_genres_path, class: 'nav-link text-dark' %>
            </li>
            <li class="nav-item">
              <%= link_to destroy_admin_session_path, method: :delete, class: 'nav-link text-dark' do %>
                <i class="fas fa-sign-out-alt"></i> ログアウト
              <% end %>
            </li>
            <% else %>
            <li class="nav-item">
              <%= link_to "About", "/#about", class: 'nav-link text-dark' %>
            </li>
            <li class="nav-item">
              <%= link_to "新規登録", new_user_registration_path, class: 'nav-link text-dark' %>
            </li>
            <li class="nav-item">
              <%= link_to "ログイン", new_user_session_path, class: 'nav-link text-dark' %>
            </li>
            <% end %>
          </ul>
        </div>
      </div>
    </nav>
  </header>

  <main class="mb-auto">
    <%= yield %>
  </main>

  <footer class="footer">
    <div class="bottom bg-light-green">
       <!--カラーを＃B6F1AAにした-->
      <div class="text-center mb-auto pb-3 pt-3">
        ©2024 sawada.和の旅行記.
      </div>
    </div>
  </footer>
</html>